{% extends 'main/base.html' %} {% block content %} 
{% load static %}


  <head>
    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  </head>
  <body>


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">

        <h1 class="fw-light">{{title}}</h1>

      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <!-- {% if images|length > 0 %}
        {% for image in images %}
        <div class="col">
          <div class="card shadow-sm">

            <img src="{{image.image.url}}" alt="">
            <a href="{% url 'post_detail' %}"><img src="{{ image.image.url }}" alt="" /></a>

          </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>No Images Uploaded </h2>
        {% endif %} -->

        <div class="post_image">
          {% if post.image %}
          <a href="{% url 'post_detail' %}"><img src="{{ post.image.url }}" class="img-responsive" alt="" /></a>
          <!-- <img src="{{ post.image.url }}" alt="" /> -->
          {% endif %}
        </div>

      </div>
    </div>
  </div>

</main>



    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


  </body>

{% endblock %}